body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f67878;
}

h1 {
    font-size: 48px;
    color: #333;
}

p {
    font-size: 24px;
    color: #666;
}

@media (max-width: 768px) {
    h1 {
        font-size: 56px;
    }
    p {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}