body,
html {
    margin: 0 auto;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name {
    font-size: 10vh;
    text-transform: uppercase;
    font-weight: 600;
}

.picked_animation {
    animation-name: name;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

@keyframes name {
    0% {
        font-size: 4vh;
    }

    100% {
        font-size: 10vh
    }
}