body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: flex;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.chirp-input {
    width: 50%;
    padding: 10px;
    margin: 20px;
}

#random-quote{
    font-style: italic;
}