
body {
    padding: 50px;
    background-color: hotpink;
    background-image: url('https://placekitten.com/200/200');
    background-repeat: repeat;
}

.project__heading {
    background-color: #ffffff88;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    border-radius: 30px;
}

section { 
    width:100%;
}

.project__section {
   width: 100%;
}

.project__image {
    width: 32%;
}

.project__desc {
    width: 50%;
    display: inline-block;
}

.project__video {
    width: 49%;
}
