body{
  color:azure;
  background-color: cornflowerblue;
  margin: 0 auto;
}
h1{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  margin-top: 10px;
}
